<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='{{basePath}}/node_modules/mocha/mocha.css'/>
    </head>
<body>
<div id='mocha'></div>
<script src='{{requirejsPath}}'></script>
<script src='{{basePath}}/node_modules/mocha/mocha.js'></script>
<script type='text/javascript'>
    var config = JSON.parse('{{{config}}}'),
        spec = ['{{spec}}'];

    window.castle = {};
    window.castle.config = JSON.parse('{{{castle}}}');
    requirejs.config(config);
    mocha.setup({ ui: 'bdd' });

    requirejs(['chai', 'sinon', 'sinon-chai'
    ].concat(spec), function (chai, sinon, sinonChai) {
        chai.use(sinonChai);
        window.chai = chai;
        window.assert = chai.assert;
        window.should = chai.should;
        window.expect = chai.expect;

        if (window.mochaPhantomJS) {
            mochaPhantomJS.run();
        } else {
            mocha.run();
        }
    });
</script>
</body>
</html>
